
.background {
    width: 100%;
    height: 80vh;

    background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-color: #252525;
    background-size: cover;
    background-position: center;
}
